.button
{
	min-width: 33px;
	min-height: 21px;
}
.input
{
	width: 100%;
}
.screen
{
	width: 100%;
	background-color: green;
}
.calc
{
	display: inline-block;
}
.center
{
	display:block;
	margin: auto;
}
.no-bullet
{
	list-style: none;
}
